<section>
  <!-- <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h2> Welcome! </h2>

      </div>
    </div>
    <! -- <br>
    <div class="row">
      <b> {{ vm.authentication.user.displayName }} </b> 
      <p class="lead">
      </p>
    </div> - - >
  </div>
  <div> -->
    <!-- All user info (profile, tweets, keywords, news) --> 
    <div class="row">
      <div class="col-sm-6 left-panel">
        <div class="row">
          <div class="bs-callout bs-callout-primary">
            <h2> {{ vm.authentication.user.displayName }}  </h2>
            <p> {{ vm.authentication.user.providerData.description }} </p>
          </div>
        </div>
        <div class="row">
          <div class="bs-callout bs-callout-primary">
          <h3> Tweets </h3>
          
          </div>
        </div>
      </div>
      <div class="col-sm-6 right-panel">
        <div class="row">
          <div class="bs-callout bs-callout-info">
            <h3> Interests </h3> 
          </div>
        </div>
        <div class="row">
          <div class="bs-callout bs-callout-info">
            <h3> Moments </h3>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>
